In [41]:
string='Pakistan'
print(string)

Pakistan

In [120]:
name='Faisal'
age='25'
print(f'My name is {name} and I am {age} old')

My name is Faisal and I am 25 old

In [7]:
string[0:3]

'Pak'

In [8]:
string[:4]

'Paki'

In [9]:
string[2:]

'kistan'

In [45]:
string[:-1]

'Pakista'

In [48]:
string[-7:-1]

'akista'

In [50]:
string[-5:]

'istan'

In [34]:
string='Assalam O Alaikum'
print(string)

Assalam O Alaikum

In [35]:
print(len(string))

17

In [22]:
string.index('O')

8

In [32]:
string.split(' ')

['Assalam', 'O', 'Alaikum']

In [53]:
string="How are you"
string.count('o')

2

In [33]:
string='''Assalam O Alaikum
How are you?
How is it going?
'''
print(string)

Assalam O Alaikum
How are you?
How is it going?

In [54]:
#integer Into String 
number=123
mystring=str(number)
print(mystring)

123

In [55]:
String Into Integer 
#In Python String cannot change into integer
string='abc'
number=int(string)
print(number)

SyntaxError: invalid syntax (<ipython-input-55-e37450bba745>, line 1)

In [56]:
#Python create id of every String and every string have unique id
mystring="faisal"
id(mystring)

140461092932016

In [57]:
def hello():
    print('salam')
hello()

salam

In [58]:
#String Concatenation
stringone="Salam"
stringtwo=" Faisal"
stringthree=stringone + stringtwo
print(stringthree)

Salam Faisal

In [59]:
#Sring In Upppercase
mystring="faisal"
mystring.upper()

'FAISAL'

In [60]:
#Sring In Lowercase
mystring="FAISAL"
mystring.lower()

'faisal'

In [62]:
string='Islam'
string[0:-3]

'Is'

In [83]:
string='Science'
string[-5:3]

'i'

In [90]:
string='Plants'
string[-2:5]

't'

In [99]:
name='Faisal'
name[2:3]

'i'

In [112]:
#Jumps In String
#String[start:stop:jump]
field='Artificial Intelligence'
field[2:12:3]

'tiaI'

In [109]:
field='Data Science'
field[::4]

'D e'

In [2]:
string='Islam'
mystring=[letters for letters in string]
mystring

['I', 's', 'l', 'a', 'm']

In [1]:
mystring=[letters for letters in 'Hello']
mystring

['f', 'a', 'i', 's', 'a', 'l']